<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC

"-//Hibernate/Hibernate Configuration DTD 3.0//EN"

"http://hibernate.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- URL de la base de datos -->

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>

		<!-- Usuario de la base de datos -->

		<property name="hibernate.connection.username">root</property>

		<!-- Contraseña de la base de datos -->

		<property name="hibernate.connection.password">root</property>

		<!-- Driver JDBC -->

		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<!-- Dialecto de Hibernate -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Mostrar consultas SQL -->

		<property name="hibernate.show_sql">true</property>

		<!-- Auto actualizaciones en la base de datos -->

		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="modelo.Usuario" />

	</session-factory>

</hibernate-configuration>
